$themecolor: $color-entrepreneur;
	$themecolor-darkest:	$color-entrepreneur-darkest;
	$themecolor-darker:		$color-entrepreneur-darker;
	$themecolor-dark:		$color-entrepreneur-dark;
	$themecolor-light:		$color-entrepreneur-light;
	$themecolor-lighter:	$color-entrepreneur-lighter;
	$themecolor-lightest:	$color-entrepreneur-lightest;
	
$themecolor2: $color-persimmon;
	$themecolor2-darkest:	$color-persimmon-darkest;
	$themecolor2-darker:	$color-persimmon-darker;
	$themecolor2-dark:		$color-persimmon-dark;
	$themecolor2-light:		$color-persimmon-light;
	$themecolor2-lighter:	$color-persimmon-lighter;
	$themecolor2-lightest:	$color-persimmon-lightest;