@-ms-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}

@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?jw1mk9');
	src:url('../font/icomoon.eot?#iefixjw1mk9') format('embedded-opentype'),
		url('../font/icomoon.woff?jw1mk9') format('woff'),
		url('../font/icomoon.ttf?jw1mk9') format('truetype'),
		url('../font/icomoon.svg?jw1mk9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.charet {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.link-list a{
	@include inline-block;
	@include rem(padding, .2em 0);
}

.tag-list{
	li{
		@include inline-block;
		margin-right: 10px;
		&:before{
			@extend .charet;
			content: $icon-tag;
			margin-right: 5px;
			vertical-align: middle;
		}
	}
}

a[rel="external"]:after,
a[target="_blank"]:after{
	display: inline-block;
	@extend .charet;
	content: $icon-ext-link;
	margin: 0 5px;
	vertical-align: middle;
	@include rem(font-size, 14px);
}


* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

audio,fieldset,form {
	max-width: 100%;
	padding: 0;
}


hr {
  margin: 2px 0 18px 0;
}

/* * * * * * * * * LAYOUT  * * * * * * * */

html {
	background: $color-dark-gray;
}

body {
	background: #f9f9f9;
}

#page-wrapper {
	overflow: hidden;
}

.main {
	min-height: 40rem;
   @media (max-width: $breakpoint-1) {
		min-height: 0;
}
}

table.dl {
  width: 100%;
  td {
    padding-bottom: 10px;
	vertical-align: top;
    &:first-child {
      padding-right: 10px;
      font-family: SourceSansProSemibold, SourceSansProRegular, 'Helvetica Neue', Arial;
      width: 30%;
    }
  }
}

.text-center {
  text-align: center;
}

.text-right{
  text-align: right;
}

.horizontal-list li {
	@include inline-block;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.focusable:active,
.focusable:focus {
	clip: auto;
	height: auto;
	margin: auto;
	overflow: visible;
	position: static;
	width: auto;
}

.sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/****** Common ********/

.bold {
	font-family: SourceSansProSemibold, SourceSansProRegular, 'Helvetica Neue', Arial;
	font-weight: 400;
}


.modalContent {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.modalContent iframe,
.modalContent object,
.modalContent embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Spinner */

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load 1.8s infinite ease-in-out;
  animation: load 1.8s infinite ease-in-out;
}
.loader {
  font-size: 10px;
  margin: 20px auto 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em $themecolor2;
  }
  40% {
    box-shadow: 0 2.5em 0 0 $themecolor;
  }
}
@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em $themecolor2;
  }
  40% {
    box-shadow: 0 2.5em 0 0 $themecolor;
  }
}


/**/

.breadcrumbs {
	.icon-home:before {
		@include rem(font-size, 16px);
		margin: 0;
		vertical-align: top;
	}
	
	
	li {
		@include inline-block;
		@include rem(font-size, 14px);
		
		position: relative;
		&:after {
			@extend .charet;
			content: "\f105";
			margin: 0 10px;
			vertical-align: top;
			color: $color-gray-7;
		}
		&:last-child:after {
			display: none;
		}
	}
}

.go-back{
	@include inline-block;
	@include rem(padding, 5px 0);
	&:hover,&:focus {
		text-decoration: none;
	}
}

.centered {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: $breakpoint-3) {
	.visuallyhidden-md {
	  border: 0;
	  clip: rect(0 0 0 0);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: 1px;
	}
}

@media (max-width: $breakpoint-3) {
	.centered-md {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-width: $breakpoint-2) {
	.centered-sm{
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
}


@media (max-width: $breakpoint-1) {
	.centered-xs {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
}


.top-list{
	li {
		position: relative;
		padding: 15px 15px 15px 70px;
		background: $color-gray-9;
		margin-bottom: 30px;
		> span:first-child {
			background: $themecolor;
			color: #fff;
			width: 45px;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			span {
				position: relative;
				display: block;
				@include rem(font-size, 22px);
				margin-top: 15px;
				font-family: RobotoBlack, Arial, helvetica, sans-serif, clean;
				font-weight: 400;
			}
		}
	}
	
	.text {
		display: block;
	}
	
	.heading {
		margin: 0;
		padding: 0;
		@include rem(font-size, 20px);
		color: $color-gray-1;
	}
	
	a {
		text-decoration: none;
		&:hover,&:focus {
			text-decoration: underline;
		}
		color: $color-basic-text;
	}
	
	p:last-of-type{
		margin-bottom: 0;
	}
	
}

.telephone-number {
	font-family: RobotoBold, Arial, helvetica, sans-serif, clean;
	font-weight: 400;
	color: $color-gray-1;
}

.box {
	background: $themecolor2;
	overflow: hidden;
	padding: 20px;
	margin: 20px 0;
	color: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	//border: 1px solid shade($themecolor2, 20%);
	border: 1px solid $themecolor2-dark;
	@media (max-width: $breakpoint-3){
		> [class*="col-xs"]:not(.col-xs-12){
			> *:first-child {
				margin-top: 0;
			}
		}
	}
	
	@media (min-width: $breakpoint-3)  and (max-width: $breakpoint-4){
		> [class*="col-xs"]:not(.col-xs-12):not([class*="col-sm-"]):not([class*="col-md-"]):not([class*="col-lg-"]),
		> [class*="col-sm"]:not(.col-sm-12){
			> *:first-child {
				margin-top: 0;
			}
		}
	}
	
	@media (min-width: $breakpoint-4) and (max-width: $breakpoint-6){
		> [class*="col-xs"]:not(.col-xs-12):not([class*="col-sm-"]):not([class*="col-md-"]):not([class*="col-lg-"]),
		> [class*="col-sm"]:not(.col-sm-12):not([class*="col-md-"]),
		> [class*="col-md"]:not(.col-md-12){
			> *:first-child {
				margin-top: 0;
			}
		}
	}
	
	@media (min-width: $breakpoint-6) {
	
		> [class*="col-xs"]:not(.col-xs-12):not([class*="col-sm-"]):not([class*="col-md-"]):not([class*="col-lg-"]),
		> [class*="col-sm"]:not(.col-sm-12):not([class*="col-md-"]):not([class*="col-lg-"]),
		> [class*="col-md"]:not(.col-md-12):not([class*="col-lg-"]),
		> [class*="col-lg"]:not(.col-lg-12){
			> *:first-child {
				margin-top: 0;
			}
		}
	}
	
	> [class*="col-"]:first-child  > *:first-child,
	> *:first-child {
		margin-top: 0;
	}
	
	p:last-child {
		margin-bottom: 0;
	}
	
	*,a{
		color: #fff;
	}
	
	.icon {
		float: left;
	}
	
	.icon + p {
		margin-top: 0;
		margin-left: 20px;
	}
	
	&.box-themecolor {
		background-color: $themecolor;
		//border-color: shade($themecolor, 20%);
		border-color: $themecolor-dark;
	}
	
	&.box-themecolor-dark {
		background-color: $themecolor-dark;
		//border-color: shade($themecolor-dark, 20%);
		border-color: $themecolor-darker;
	}
	
	&.box-dark {
		background-color: $themecolor2-dark;
		//border-color: shade($themecolor2-dark, 20%);
		border-color: $themecolor2-darker;
	}
	
	&.box-gray {
		background-color: $color-gray-7;
		//border-color: shade($color-gray-7, 20%);
		border-color: $color-gray-6;
		color: $color-basic-text;	
		*{
			color: $color-basic-text;	
		}
		
		h1,h2,h3,h4 {
			color: $color-gray-1;	
		}
		a{
			color: $color-basic-text;
		}
	}
	
	&.box-light-gray {
		@extend .box-gray; 
		background-color: $color-light-gray;
		//border-color: shade($color-gray-9, 20%);
		border-color: $color-gray-8;
		a{
			color: $link-color;
		}
	}
}

.alert-box {
	@extend .box-light-gray; 
	border-color: $color-red !important;
	margin-bottom: 20px;
	position: relative;
}

.error-box {
	@extend .alert-box; 
	background: $color-red-lightest !important;
	a {
		color: $color-red-dark !important;
		&:focus,
		&:hover {
			color: $color-red !important;
		}
	}
	
	h1,h2,h3, h4 {
		color: $color-red-dark !important;
	}
}

.section-row {
	margin: 20px 0;
	position: relative;
}

.well{
	padding: 20px;
	background: $color-gray-9;
	margin-bottom: 20px;
	*:last-child {
		margin-bottom: 0;
	}
}

.code-example {
	background: $color-light-gray;
	padding: 10px;
	position: relative;
	&.html {
		@include rem(padding-top, 26px);
		&::before {
			position: absolute;
			content: "HTML";
			top: 0;
			left: 0;
			padding: 0 5px;
			@include rem(font-size, 14px);
			background: $color-gray-8;
		}
	}
}
code {
	font-family: Consolas,Menlo,Monaco,Lucida Console,Courier New,monospace,sans-serif;
	@include rem(font-size, 16px);
	.tag {
		color: $color-bright-azure-dark;
	}
	.attr-type {
		color: $color-persimmon;
	}
	.attr-value {
		color: $color-deep-orchid;
	}
}

.icon-item .icon,
.sidebar .icon {
	@include rem(font-size, 50px);
	@include rem(width, 60px);
	color: $themecolor;
	text-align: center;
	display: block;
	line-height: 1;
	@media (min-width: $breakpoint-2) {
		float: left;
		vertical-align: top;
	}
}

.default-icon {
	width: 100%;
	height: auto;
	max-height: 50px;
	fill: $themecolor;
}

.icon-item .icon {
	display: none;
}

.icon-left {
	padding-left: 20px !important;
	border-left: 3px solid $color-gray-8;
	> *:first-child {
		margin-top: 0;
	}
}

@media (min-width: $breakpoint-2) {
	.icon-item {
		.wrapper {
			@include rem(margin-left, 70px);
			padding-left: 20px;
			border-left: 3px solid $color-gray-8;
		}
		.icon {
			display: block;
		}
	}
}

.sidebar {
	font-size: 94.444%;
	.sidebar-item {
		margin-bottom: 20px;
		padding-top: 20px;
		border-top: 3px solid $color-gray-9;
		overflow: hidden;
		h2 {
			overflow: hidden;
		}
		h2 + h3{
			clear: both;
		}
		@media (max-width: $breakpoint-2) {
			text-align: center;
			.item-content,
			.icon {
				text-align: center;
				width: auto;
			}
			
		}
		
		@media (min-width: $breakpoint-2) {
			.item-content {
				@include rem(margin-left, 65px);
			}
			
		}
		
		.item-content {
			> *:first-child {
				margin-top: 0;
			}
			
			> *:last-child {
				margin-bottom: 0;
			}
		}
	}
	.sidebar-item:first-child {
		border: none;
	}
	
	.map-container {
		position: relative;
		clear: both;
		text-align: center;
		margin-top: 20px;
		.map-button {
			position: absolute;
			bottom: 10px;
			width: 100%;
			text-align: center;
			button,
			.button	{
				-webkit-box-shadow: 0 1px 0 1px rgba(0,0,0,0.2);
				box-shadow: 0 1px 0 1px rgba(0,0,0,0.2);
			}
		}
	}
}


.basic-panel {
	background: #fff;
	border: 1px solid $color-gray-8;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 20px;
	margin-bottom: 20px;
	> *:first-child{
		margin-top: 0;
	}
	
	> *:last-child{
		margin-bottom: 0;
	}
}

/******** My details **********/

.my-details {
	background: $themecolor;
	overflow: hidden;
	color: #fff;
	position: relative;
	width: auto;
	margin: 0 -15px;
	margin-bottom: 30px;
	[class^="col-"]{
		position: static;
	}
	@media (min-width: $breakpoint-4) {
		margin: 0;
		margin-bottom: 30px;
		width: 100%;
	}
	.heading,
	a {
		color: #fff;
	}
	.top {
		background: $themecolor-dark;
		padding: 15px;
		margin: 0 -15px;
		position: relative;
		text-align: center;
		&:after{
			content: "";
			width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 10px solid $themecolor-dark;
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin-left: -15px;
		}
	}
	
	.name {
		@extend .heading;
		margin: 0;
		line-height: 1.2;
	}
		
	.given-name {
		@include rem(font-size, 24px);
	}
		
	.family-name {
		@include rem(font-size, 36px);
	}
	
	.ssn {
		@include rem(font-size, 14px);
	}
	
	.my-details-map {
		height: 200px;
		margin: 0 -15px;
		background: $color-gray-9;
	}
	
	@media (min-width: $breakpoint-2) {
		.my-details-map {
			height: 320px;
		}
	}
	
	@media (min-width: $breakpoint-4) {
		.my-details-map {
			top: 0;
			bottom: 0;
			width: 100%;
			min-height: 320px;
			height: auto;
			position: absolute;
		}
	}

}

.notice-box + .my-registeries {
	margin-top: 50px;
}

.my-registeries{
	padding-top: 30px;
	&:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	
	margin: 0 -15px;
	.my-registeries-col {
		@media (min-width: $breakpoint-3) {
			float: left;
			width: 50%;
		}
		
		@media (min-width: $breakpoint-6) {
			width: 25%;
		}
	}
	
	@media (min-width: $breakpoint-3) and (max-width: $breakpoint-6) {
		.my-registeries-col:nth-of-type(2n-1) {
			clear: left;
		}
		.my-registeries-col:first-of-type {
			clear: none;
		}
	}
	
	
	.my-register {
		background: $themecolor;
		text-align: left;
		margin-bottom: 80px;
		@media (min-width: $breakpoint-1) {
			margin: 0 15px 80px 15px;
		}
		padding: 15px;
		position: relative;
		.icon {
			display: block;
			width: 80px;
			height: 80px;
			padding-top: 15px;
			text-align: center;
			background: $themecolor;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			margin: -55px auto 0 auto;
			svg {
				max-width: 40px;
				max-height: 40px;
				fill: #fff;
			}
		}
		
		.button {
			display: block;
			width: 50px;
			height: 50px;
			margin: 25px auto -40px auto;
			background: $themecolor-dark;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			text-decoration: none;
			padding: 0;
			&:after {
				@extend .charet;
				content: $plus-circle;
				font-size: 40px;
				margin-left: 6px;
			}
			
			&.show-less:after {
				content: $minus-circle;
			}
			
			&:hover, &:focus {
				color: $themecolor-darker;
			}
			
			&:focus:hover {
				color: #fff;
			}
		}
		
		.partly-hidden li:not(.animated):nth-child(n+6) {
			display: none;
		}
		
		li a {
			display: block;
			border-bottom: 1px dotted rgba(255,255,255,0.6);
			text-decoration: none;
			padding: 0 15px 0 5px;
			position: relative;
			&:focus, &:hover {
				background: $themecolor-dark;
			}
			
			&:after {
				content: "";
				width: 0;
				height: 0;
				border-top: 4px solid transparent;
				border-left: 4px solid #fff;
				border-bottom: 4px solid transparent;
				position: absolute;
				right: 5px;
				top: 50%;
				margin-top: -2px;
			}
		}
		
		li:first-child a {
			border-top: 1px dotted rgba(255,255,255,0.6);
		}
		
		.icon + * {
			margin-top: 0;
			margin-bottom: 20px;
		}
		
	}
}

.no-js .my-registeries .my-register .partly-hidden li {
	display: block !important;
}


[class*="notice-box"],
.notice-box {
	background-color: $themecolor2;
	position: relative;
	padding: 30px 0;
	text-align: center;
	@media (max-width: $breakpoint-1) {
			padding: 30px 15px;
	}
	@media (min-width: $breakpoint-3) {
		&:not(.centered){
			text-align: left;
		}
		padding: 50px 0;
	}
	
	[class^="col-"]{
		position: static;
	}
	
	color: #fff;
	*, *:hover, *:focus, *:visited {
		color: #fff;
	}
	
	.searchbutton,
	.searchbutton *,
	.dropdown-list,
	.dropdown-list *{
		color: $color-basic-text;
	}
	
	.dropdown-list:focus [class*="icon"],
	.searchbutton:focus *,
	.dropdown-list:hover [class*="icon"],
	.searchbutton:hover * {
		color: $themecolor;
	}
	
	h1,h2,h3,h4 {
		margin-top: .5em;
	}
	.text-notice {
		@include rem(font-size, 20px);
	}
	
	@media (min-width: $breakpoint-3) {
		.text-notice {
			@include rem(font-size, 22px);
		}
	}
	
	&.notice-box-themecolor {
		background-color: $themecolor;
	}
	
	&.notice-box-dark {
		background-color: $themecolor2-dark;
	}
	
	&.notice-box-themecolor-dark {
		background-color: $themecolor-dark;
	}
	
	&.notice-box-gray {
		background-color: $color-gray-7;
		color: $color-basic-text;
		*, *:hover, *:focus {
			color: $color-basic-text;
		}
	}
	
	.icon-info {
		@include rem(font-size, 62px);
	}
}

.container .notice-box {
	padding: 20px;
}

.notice-box2 {
	@extend .notice-box;
	position: relative;
	z-index: 1;
	&:after{
		content: "";
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 10px solid $themecolor2;
		position: absolute;
		bottom: -10px;
		left: 50%;
		margin-left: -15px;
	}
	
	&.notice-box-themecolor{
		&:after {
			border-top-color: $themecolor;
		}
	}
}

#top-bar h1 {
	margin: 0;
}

.search-box {
	background: $color-gray-9;
	padding: 20px 0;
	.wrapper {
		position: relative;
	}
	
	.dropdown-list-header,
	.searchfield {
		border: 2px solid transparent;
		color: $color-basic-text;
		&:focus{
			border: 2px solid $themecolor2-light;
		}
		
		&:hover {
			background: #fff;
		}
	}
	
	.searchbutton {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0;
		background: none;
		color: $color-basic-text;
		@include rem(font-size, 25px);
		&:hover, &:focus{
			color: $themecolor;
			text-decoration: none;
		}
	}
	
	.dropdown-list:focus [class*="icon"],
	.dropdown-list:hover [class*="icon"] {
		color: $themecolor;
	}
	
}

.searchbox {
	@extend .search-box;
}

.dropdown-list{
	@extend .searchfield;
	position: relative;
	.dropdown-list-header {
		font-family: SourceSansProRegular, "Helvetica Neue", Arial, helvetica, sans-serif, clean;
		&:hover, &:focus {
			text-decoration: none;
		}
		display: block;
		width: 100%;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		margin-bottom: 10px;
		text-align: left;
		transition: all 0.3s ease;
		margin-bottom: 0;
		color: $color-gray-2;
		background-color: #fff;
		border: 2px solid $color-gray-6;
		font-weight: 400;
		@include rem(font-size, 18px);
		cursor: pointer;
		position: relative;
		@include rem(padding, 10px);
		@include rem(line-height, .5em);
		
		&:hover,
		&:focus{
			border-color: $themecolor2-light;
		}

		*, *:hover, *:focus {
			color: inherit;
		}
	}
	
	a {
		text-decoration: none;
		display: block;
		padding: 0 5px;
		color: $color-basic-text;
		&:hover,&:focus {
			color: #fff;
			background-color: $themecolor2-dark;
			text-decoration: none;
		}
	}
	
	ul {
		margin-top: 2px;
		position: absolute;
		z-index: 3;
		border: 1px solid $color-light-gray;
		background-color: #fff;
		min-width: 100%;
		padding: 10px;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
		-webkit-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
	}

	&.closed ul {
		display: none;
	}
	
	.icon-arrow{
		position: absolute;
		right: 10px;
		top: 50%;
		@include rem(margin-top, -4px);
		@extend .charet;
		&:before {
			content: $chevron-up;
		}
	}
	
	&.closed .icon-arrow:before {
		content: $chevron-down;
	}
}


/******* Side menu ******/

.side-menu-content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.side-menu-wrap {
	&:after{
		border-bottom: 10px solid transparent;
		border-left: 10px solid $themecolor;
		border-top: 10px solid transparent;
		content: "";
		height: 0;
		margin-top: -5px;
		position: absolute;
		right: -10px;
		top: 50%;
		width: 0
		}
}

.side-menu-wrap a:hover,
.side-menu-wrap a:focus {
	color: #c94e50;
}

.side-menu-content-wrap {
	-webkit-overflow-scrolling: touch;
	background: $themecolor-dark;
}

/* Menu Button */
.side-menu-close-button:focus,
.side-menu-close-button:hover,
.side-menu-close-button,
.side-menu-show-button:focus,
.side-menu-show-button:hover,
.side-menu-show-button {
	position: relative;
	z-index: 9;
	padding: 0;
	background: transparent;
	padding-left: 30px;
}

.side-menu-close-button:before,
.side-menu-show-button:before {
	position: absolute;
	top: 0;
	left: 0;
	content: $icon-menu;
	@extend .charet;
	color: #fff;
	@include rem(font-size, 26px);
}

.side-menu-close-button:focus,
.side-menu-close-button:hover{
	&:before{
		color: $themecolor-darkest;
	}
}

/* Close Button */
.side-menu-close-button:focus,
.side-menu-close-button:hover,
.side-menu-close-button{
	position: absolute;
	top: 10px;
	right: 30px;
	top: 10px;
	padding: 0;
	margin: 0;
	@include rem(width, 26px);
	color: transparent;
}

.side-menu-close-button:before{
	content: $icon-cross;
}

/* Menu */
.side-menu-wrap {
	position: absolute;
	z-index: 10;
	width: 300px;
	height: 100%;
	background: $themecolor;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	@include rem(font-size, 17px);
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	
	@media (min-width: $breakpoint-6) {
		width: calc((100% - 1170px) /2);
		-webkit-transform: translate3d(calc((100% - 1170px) /2),0,0);
		transform: translate3d(calc((100% - 1170px) /2),0,0);
	};
	min-width: 300px;
	
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.side-menu, 
.side-menu-content {
	max-height: 100%;
	color: #fff;
	overflow: auto;
}

.side-menu-content {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.side-menu-content {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Shown menu */
.show-menu .side-menu-wrap {
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .side-menu-content {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}


.show-menu .side-content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* nanoscroll styles */

$nanoClass: "nano" !default;
$paneClass: "nano-pane" !default;
$sliderClass: "nano-slider" !default;
$contentClass: "nano-content" !default;

.#{$nanoClass} {
    width: 100%;
    height: 100% !important;
    position: relative;
    overflow: hidden;

    .#{$contentClass} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: scroll;
        overflow-x: hidden;

        &:focus {
            outline: thin dotted;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    > .#{$paneClass} {
        width: 10px;
        background: rgba(0,0,0,.25);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        visibility: hidden\9; // Target only IE7 and IE8 with this hack
        opacity: .2;

        > .#{$sliderClass} {
            background: #444;
            background: rgba(0,0,0,.5);
            position: relative;
            margin: 0 1px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
    }
}

.has-scrollbar > .#{$contentClass}::-webkit-scrollbar {
    display: block;
}

.#{$paneClass} {
    .#{$nanoClass}:hover > &,
    &.active,
    &.flashed {
        visibility: visible\9; // Target only IE7 and IE8 with this hack
        opacity: 1;
    }
}

/*******/
.pushmenu-xs-container .push-menu-toggle-button{
	@extend .side-menu-show-button;
	display: none;
}

.pushmenu-xs .push-menu-toggle-button {
	@extend .side-menu-close-button;
}
	
@media (max-width: $breakpoint-4) {
	.js .pushmenu-xs-container {
		overflow: hidden;
		.push-menu-toggle-button {
			display: block;
		}
		
		
		.push-menu-toggle-button {
			background: $themecolor2;
			float: left;
			&:hover, &:focus{
				background: $themecolor2-dark;
			}
		}
		
		.pushmenu-xs-wrap{
			width: 100%;
			.pushmenu-xs {
				margin-left: calc(-80% + 1px);
				width: 80%;
				float: left;
				position: relative;
				.push-menu-toggle-button{
					color: transparent;
					background: none;
					&:hover,&:focus{
						background: none;
					}
					&:before {
						color: $color-basic-text;
					}
					&:hover:before,&:focus:before {
						color: $themecolor2;
					}
				}
			}
			
			-webkit-transition: margin .2s ease;
			-moz-transition: margin .2s ease;
			-ms-transition: margin .2s ease;
			-o-transition: margin .2s ease;
			transition: margin .2s ease;
			
			&.open {
				margin-left: 80%;
			}
			
			.pushmenu-xs-push {
				width: 100%;
				float: left;
			}
		}

	}

}


/****** services-search *******/

.services-search, .main-search {
		.search-filters {
			position: relative;
			z-index: 2;
			background: #fff;
			border-right: 1px solid $color-gray-8;
			margin-right: -1px;		
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100px;
				margin-left: -100%;
				background: #fff;
				height: 100%;
				z-index: 1;
			}
		}
		
		.pushmenu-xs-push {
			position: relative;
			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100px;
				left: 0;
				margin-left: -100%;
				background: #fff;
				height: 100%;
				z-index: 1;
				border-right: 1px solid $color-gray-8;
			}
		}
	
	h4 {
		@extend .bold;
	}

	.location-filter {
		margin: 30px 0 30px 0;
	}
	
	.subject-filter {
		margin: 0 0 20px 0;
		li {
			position: relative;
			overflow: hidden;
			a {
				display: block;
				background: $color-gray-9; 
				padding: 10px;
				color: #000;
				position: relative;
				margin: 0 0 8px 0;
				@include rem(font-size, 16px);
				text-decoration: none;
				border-left: 4px solid $color-gray-7;
				&:hover,&:focus {
					text-decoration: underline;
					border-color: $themecolor;
					background: $themecolor-lighter !important;
					color: $color-gray-1 !important;
				}
			}
			
			.icon-remove {
				color: $themecolor;
				@include rem(font-size, 26px);
				position: absolute;
				cursor: pointer;
				z-index: 2;
				right: 10px;
				top: 50%;
				@include rem(margin-top, -20px);
				&::after {
					content: "";
					background: #fff none repeat scroll 0 0;
					border-radius: 100%;
					@include rem(height, 20px);
					@include rem(width, 20px);
					@include rem(margin-top, -10px);
					position: absolute;
					left: 0;
					top: 50%;
					z-index: -1;
				}
			}
			
			ul {
				margin: -7px 0 8px 4px;
				a {
					margin: 0 0 1px 0;
					padding-left: 30px;
					background: $color-gray-8; 
				}
			}
			
			&.selected > a {
				border-color: $themecolor;
				font-weight: bold;
				color: $themecolor;
			}
		}

	}

	.search-results {
		
		.search-results-header {
			border-bottom: 1px solid $color-gray-8;
			padding-bottom: 10px;
			margin: 30px 0 20px 0;
			overflow: hidden;
			p {
				margin: 0;
				display: inline-block;
			}
			
			span.text-big {
				color: $color-citizen;
				font-weight: bold;
				font-family: RobotoBold,Arial,helvetica,sans-serif,clean;
				font-size: 160%;
			
			}
			
			.button {
				margin: 0 0 0 -4px;
			}
			.button.selected {
				background: $color-gray-7; 
				color:  $color-gray-2; 
				&:hover {
					background: darken($color-gray-7, 4%);
				
				}
			}
			
			.switch-views {
				float: right; 
				@media (max-width: $breakpoint-2) {
					float: none;
					clear: both;
					margin-top: 15px;
				}
			}
		
		}
		
		.single-search-result {
			background: $color-gray-9; 
			padding: 20px 20px 0 20px;
			margin: 0 0 30px 0;
			
			h3 {
				display: inline-block;
				margin-top: 0;
				
				a {
					text-decoration: none;
				}
			}
			
			.organization {
				color: $color-citizen;
				@include rem(font-size, 16px);
				@include rem(line-height, 16px);
				border-left: 1px solid $color-gray-6;
				padding-left: 10px;
				margin-left: 10px;
				display: inline-block;
			
			}
			
			.bottom-row {
				border-top: 1px solid #fff; 
				margin: 0 -20px;
				padding: 7px 20px 10px 20px;
				@include rem(font-size, 14px);
				
				span {
					border-left: 1px solid $color-gray-6;
					padding-left: 10px;
					margin-left: 10px;
				
				
				}
			}

			.search-result-provider {
				display: block;
				font-size: 0.875rem;
			}

		}
	}
	
}


/*******/

.border-panel {
	padding: 20px;
	border-top: 3px solid $color-gray-1;
	border-bottom: 3px solid $color-gray-1;
	margin-bottom: 20px;
	> h1:first-child,
	> h2:first-child,
	> h3:first-child {
		margin-top: 0;
	}
}

.lead {
	@include rem(margin-bottom, 30px);
}

.bordered-lead {
	@extend .border-panel;
}

p.heading {
	padding: 15px 0 5px 0;
}

	
pre{
	max-width: 100%;
	@include word-wrap;
	overflow: auto;
}

mark {
	background: #f7ee86;
}

::-moz-selection {
  background: $themecolor;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: $themecolor;
  color: #fff;
  text-shadow: none;
}

video,
img {
	max-width: 100% !important;
	max-height: 100%;
}


/***********************/

.left {
	float: left;
}

.right {
	float: right;
}

.sm-right {
	@media (min-width: $breakpoint-3) {
		float: right;
	}
}

.md-right {
	@media (min-width: $breakpoint-5) {
		float: right;
	}
}

.icon.xs-center {
	width: 100%;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
}

.circle {
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.table-xs-full {
	width: 100%;
}

.table-xs-half {
	width: 50%;
}

@media (min-width: $breakpoint-4) {

	.table-lg-full {
		width: 100%;
	}

	.table-lg-half {
		width: 50%;
	}
	
	.table-lg-quarter {
		width: 25%;
	}
}

.color-citizen {
	color: $color-citizen;
}

.color-citizen-darkest {
	color: $color-citizen-darkest;
}

.color-citizen-darker{
	color: $color-citizen-darker;
}

.color-citizen-dark{
	color: $color-citizen-dark;
}

.color-citizen-light {
	color: $color-citizen-light;
}

.color-citizen-lighter {
	color: $color-citizen-lighter;
}

.color-citizen-lightest {
	color: $color-citizen-lightest;
}

.color-entrepreneur {
	color: $color-entrepreneur;
}

.color-entrepreneur-darkest {
	color: $color-entrepreneur-darkest;
}

.color-entrepreneur-darker{
	color: $color-entrepreneur-darker;
}

.color-entrepreneur-dark{
	color: $color-entrepreneur-dark;
}

.color-entrepreneur-light {
	color: $color-entrepreneur-light;
}

.color-entrepreneur-lighter {
	color: $color-entrepreneur-lighter;
}

.color-entrepreneur-lightest {
	color: $color-entrepreneur-lightest;
}

.color-official {
	color: $color-official !important;
}

.color-official-darkest {
	color: $color-official-darkest;
}

.color-official-darker{
	color: $color-official-darker;
}

.color-official-dark{
	color: $color-official-dark;
}

.color-official-light {
	color: $color-official-light;
}

.color-official-lighter {
	color: $color-official-lighter;
}

.color-official-lightest {
	color: $color-official-lightest;
}

.color-bright-azure {
	color: $color-bright-azure;
}

.color-bright-azure-darkest {
	color: $color-bright-azure-darkest;
}

.color-bright-azure-darker{
	color: $color-bright-azure-darker;
}

.color-bright-azure-dark{
	color: $color-bright-azure-dark;
}

.color-bright-azure-light {
	color: $color-bright-azure-light;
}

.color-bright-azure-lighter {
	color: $color-bright-azure-lighter;
}

.color-bright-azure-lightest {
	color: $color-bright-azure-lightest;
}


.color-persimmon {
	color: $color-persimmon !important;
}

.color-persimmon-darkest {
	color: $color-persimmon-darkest;
}

.color-persimmon-darker{
	color: $color-persimmon-darker;
}

.color-persimmon-dark{
	color: $color-persimmon-dark;
}

.color-persimmon-light {
	color: $color-persimmon-light;
}

.color-persimmon-lighter {
	color: $color-persimmon-lighter;
}

.color-persimmon-lightest {
	color: $color-persimmon-lightest;
}


.color-deep-orchid {
	color: $color-deep-orchid;
}

.color-deep-orchid-darkest {
	color: $color-deep-orchid-darkest;
}

.color-deep-orchid-darker{
	color: $color-deep-orchid-darker;
}

.color-deep-orchid-dark{
	color: $color-deep-orchid-dark;
}

.color-deep-orchid-light {
	color: $color-deep-orchid-light;
}

.color-deep-orchid-lighter {
	color: $color-deep-orchid-lighter;
}

.color-deep-orchid-lightest {
	color: $color-deep-orchid-lightest;
}

.color-red {
	color: $color-red;
}

.color-red-darkest {
	color: $color-red-darkest;
}

.color-red-darker{
	color: $color-red-darker;
}

.color-red-dark{
	color: $color-red-dark;
}

.color-red-light {
	color: $color-red-light;
}

.color-red-lighter {
	color: $color-red-lighter;
}

.color-red-lightest {
	color: $color-red-lightest;
}

.gray-1 {
	color: $color-gray-1 !important;
}

.gray-2 {
	color: $color-gray-2 !important;
}

.gray-3 {
	color: $color-gray-3 !important;
}

.gray-4 {
	color: $color-gray-4 !important;
}

.gray-5 {
	color: $color-gray-5 !important;
}

.gray-6 {
	color: $color-gray-6 !important;
}

.gray-7 {
	color: $color-gray-7 !important;
}

.gray-8 {
	color: $color-gray-8 !important;
}

.gray-9 {
	color: $color-gray-9 !important;
}

.bg-themecolor-dark {
	background-color: $themecolor-dark;
}

.bg-color-bright-azure {
	background-color: $color-bright-azure;
}

.bg-color-bright-azure-darkest {
	background-color: $color-bright-azure-darkest;
}

.bg-color-bright-azure-darker{
	background-color: $color-bright-azure-darker;
}

.bg-color-bright-azure-dark{
	background-color: $color-bright-azure-dark;
}

.bg-color-bright-azure-light {
	background-color: $color-bright-azure-light;
}

.bg-color-bright-azure-lighter {
	background-color: $color-bright-azure-lighter;
}

.bg-color-bright-azure-lightest {
	background-color: $color-bright-azure-lightest;
}

.bg-color-persimmon {
	background-color: $color-persimmon;
}

.bg-color-persimmon-darkest {
	background-color: $color-persimmon-darkest;
}

.bg-color-persimmon-darker{
	background-color: $color-persimmon-darker;
}

.bg-color-persimmon-dark{
	background-color: $color-persimmon-dark !important;
}

.bg-color-persimmon-light {
	background-color: $color-persimmon-light;
}

.bg-color-persimmon-lighter {
	background-color: $color-persimmon-lighter;
}

.bg-color-persimmon-lightest {
	background-color: $color-persimmon-lightest;
}

.bg-color-deep-orchid {
	background-color: $color-deep-orchid;
}

.bg-color-deep-orchid-darkest {
	background-color: $color-deep-orchid-darkest;
}

.bg-color-deep-orchid-darker{
	background-color: $color-deep-orchid-darker;
}

.bg-color-deep-orchid-dark{
	background-color: $color-deep-orchid-dark;
}

.bg-color-deep-orchid-light {
	background-color: $color-deep-orchid-light;
}

.bg-color-deep-orchid-lighter {
	background-color: $color-deep-orchid-lighter;
}

.bg-color-deep-orchid-lightest {
	background-color: $color-deep-orchid-lightest;
}

.bg-color-red {
	background-color: $color-red;
}

.bg-color-red-darkest {
	background-color: $color-red-darkest;
}

.bg-color-red-darker{
	background-color: $color-red-darker;
}

.bg-color-red-dark{
	background-color: $color-red-dark;
}

.bg-color-red-light {
	background-color: $color-red-light;
}

.bg-color-red-lighter {
	background-color: $color-red-lighter;
}

.bg-color-red-lightest {
	background-color: $color-red-lightest;
}


.bg-color-citizen {
	background-color: $color-citizen;
}

.bg-color-citizen-darkest {
	background-color: $color-citizen-darkest;
}

.bg-color-citizen-darker{
	background-color: $color-citizen-darker;
}

.bg-color-citizen-dark{
	background-color: $color-citizen-dark;
}

.bg-color-citizen-light {
	background-color: $color-citizen-light;
}

.bg-color-citizen-lighter {
	background-color: $color-citizen-lighter;
}

.bg-color-citizen-lightest {
	background-color: $color-citizen-lightest;
}

.bg-color-entrepreneur {
	background-color: $color-entrepreneur;
}

.bg-color-entrepreneur-darkest {
	background-color: $color-entrepreneur-darkest;
}

.bg-color-entrepreneur-darker{
	background-color: $color-entrepreneur-darker;
}

.bg-color-entrepreneur-dark{
	background-color: $color-entrepreneur-dark;
}

.bg-color-entrepreneur-light {
	background-color: $color-entrepreneur-light;
}

.bg-color-entrepreneur-lighter {
	background-color: $color-entrepreneur-lighter;
}

.bg-color-entrepreneur-lightest {
	background-color: $color-entrepreneur-lightest;
}

.bg-color-official {
	background-color: $color-official;
}

.bg-color-official-darkest {
	background-color: $color-official-darkest;
}

.bg-color-official-darker{
	background-color: $color-official-darker;
}

.bg-color-official-dark{
	background-color: $color-official-dark;
}

.bg-color-official-light {
	background-color: $color-official-light;
}

.bg-color-official-lighter {
	background-color: $color-official-lighter;
}

.bg-color-official-lightest {
	background-color: $color-official-lightest;
}

.bg-light-gray {
	background-color: $color-light-gray !important;
}

.bg-dark-gray {
	background-color: $color-dark-gray !important;
}

.bg-gray-1 {
	background-color: $color-gray-1;
}

.bg-gray-2 {
	background-color: $color-gray-2;
}

.bg-gray-3 {
	background-color: $color-gray-3;
}

.bg-gray-4 {
	background-color: $color-gray-4;
}

.bg-gray-5 {
	background-color: $color-gray-5;
}

.bg-gray-6 {
	background-color: $color-gray-6;
}

.bg-gray-7 {
	background-color: $color-gray-7;
}

.bg-gray-8 {
	background-color: $color-gray-8;
}

.bg-gray-9 {
	background-color: $color-gray-9;
}

