/* .box {
	h3, h2 {
		color: #fff;
	}
	a {
		color: #fff;
	}
}

.box-light-gray {
	background-color: $color-gray-9;
	border-color: $color-gray-9;
	color: $color-basic-text;
	a {
		color: $color-basic-text;
	}
	h2 {
		color: $color-basic-text;
	}
}
*/

.sidebar-box {
	h2 {
		color: #fff;
	
	}
	.inner-box {
			margin: 0 0 20px 0;
			padding: 15px;
			background-color: $themecolor;
		
		}
		.main-link {
			font-family: RobotoBlack,Arial,helvetica,sans-serif,clean;
			color: #fff;
			font-size: 1.25rem;
			text-decoration: underline;
			&:hover {
				text-decoration: none; 
			}
		}
		.phonenumber-big {
			margin: 0 0 0 0;
			font-size: 120%;
			font-weight:bold;
		}	
}

	

.frontpage-identification {
	background-color: $color-gray-9;
	
	.text-notice {
		font-size: 1.1rem!important;
		}
	* {
		color: $color-basic-text;
		&:hover {
			color: $color-basic-text;
			}
		}
	.button_hollow {
		border: 3px solid $color-basic-text!important;
		background-color: $color-gray-9!important;
		color: $color-basic-text!important;
		text-decoration: none;
		display: inline-block;
		&:hover {
		background-color:$color-basic-text!important;
		color: #fff!important;
		}

	}
	
}

.serviceguide-highlight  {
	padding: 0;
	text-align: center;
	border-radius: 0;
	a {
		display: block;
		padding: 4px 4px 20px 4px;
		color: #fff;
		&:focus:not(.button) {
			background: none!important;
			color: #fff!important;		
		}
		&:hover h3 {
			text-decoration: none;
			}
		h3 {
			color: #fff;
			text-decoration: underline;
		}
	}
}


.large-serviceguide-highlight  {
	padding: 5px 5px 20px 5px;
	text-align: center;
	border-radius: 0;
	a {
		display: block;
		color: #fff;
		text-decoration: underline;
		&:focus:not(.button) {
			background: none!important;
			color: #fff!important;	
		}
	}
}

.service-list {
	h2 {
		margin-bottom: 1em;	
	}
	.service-list-content {
		border-left: 4px solid $color-gray-9;
		h2 {
			margin: 0 0 0.3em 0;
		}
		a {
			color: #103f66;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.row {
		margin: 0 0 45px 0;
	}
}

.content-box {
    color: $color-basic-text;
    padding: 30px 0;
    position: relative;
    text-align: center;
	.text-notice {
		font-size: 1.1rem!important;
	}
}

.header-light { 
	font-family: RobotoLight,Arial,helvetica,sans-serif,clean;
}
