$themecolor: $color-official;
	$themecolor-darkest:	$color-official-darkest;
	$themecolor-darker:		$color-official-darker;
	$themecolor-dark:		$color-official-dark;
	$themecolor-light:		$color-official-light;
	$themecolor-lighter:	$color-official-lighter;
	$themecolor-lightest:	$color-official-lightest;
	
$themecolor2: $color-deep-orchid;
	$themecolor2-darkest:	$color-deep-orchid-darkest;
	$themecolor2-darker:	$color-deep-orchid-darker;
	$themecolor2-dark:		$color-deep-orchid-dark;
	$themecolor2-light:		$color-deep-orchid-light;
	$themecolor2-lighter:	$color-deep-orchid-lighter;
	$themecolor2-lightest:	$color-deep-orchid-lightest;