.grays .circle,
.colors .circle {
	width: 60px;
	height: 60px;
	@include inline-block;
	position: relative;
	z-index: 1;
	vertical-align: middle;
	margin: 0 auto;
}


.grays li {
	margin-bottom: 15px;
}

@media (min-width: $breakpoint-1) {
	.grays{
		li {
			@include inline-block;
			width: 50%;
			margin: 0 -4px 15px 0;
		}

	}
}
@media (min-width: 800px) {
	.grays{
		li {
			width: 11%;
			text-align: center;
		}

	}

	.circle {
		display: block;
		margin: 0 auto;
	}
}

.colors li .circle:nth-child(6) {
	z-index: 2;
}

.colors li .circle:nth-child(5) {
	z-index: 3;
}

.colors li .circle:nth-child(4) {
	z-index: 4;
	width: 80px;
	height: 80px;
}

.colors > li {
	margin-bottom: 30px;
	@media (min-width: $breakpoint-5) {
		padding-right: 30px; 
		@include inline-block;
		vertical-align: top;
		width: 250px;
	}
	
}

.colors .circle + .circle {
	margin-left: -45px;
}
