<footer id="page-footer" role="contentinfo">
    <a href="#" class="go-up" data-i18n="footer__takaisin_ylös">Takaisin ylös</a>
    <div id="footer-content" class="container">
        <span class="site-logo">
            <img data-i18n="[src]header__logo;[alt]header__suomifi-tunnistaminen" alt="Suomi.fi-tunnistus">
        </span>
        <div class="footer-links">
          <ul class="footer-links-info">
              <li><a target="_blank" id="footer__tietoa_tunnistautumisesta" data-i18n="footer__tietoa_tunnistautumisesta" href="/sivut/info/tietoapalvelusta/">Tietoa Suomi.fi-tunnistuksesta</a><span class="sr-only" data-i18n="footer__linkki_avautuu_uuteen_ikkunaan">Linkki avautuu uuteen ikkunaan</span></li>
              <li><a target="_blank" id="footer__tietosuojaseloste" data-i18n="footer__tietosuojaseloste" href="/sivut/info/tietosuojaseloste/">Tietosuojaseloste</a><span class="sr-only" data-i18n="footer__linkki_avautuu_uuteen_ikkunaan">Linkki avautuu uuteen ikkunaan</span></li>
          </ul>
          <ul class="footer-links-feedback">
              <li><a target="_blank" id="footer__palaute" data-i18n="footer__anna_palautetta" href="/sivut/info/palaute/">Anna palautetta</a><span class="sr-only" data-i18n="footer__linkki_avautuu_uuteen_ikkunaan">Linkki avautuu uuteen ikkunaan</span></li>
              <li><a target="_blank" id="footer__virhepalaute" data-i18n="footer__virhepalaute" href="/sivut/info/virhepalaute/">Ilmoita virheestä</a><span class="sr-only" data-i18n="footer__linkki_avautuu_uuteen_ikkunaan">Linkki avautuu uuteen ikkunaan</span></li>
          </ul>
        </div>
    </div>
</footer>
