#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($username = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
#set ($mobileContext = $authenticationContext.getSubcontext('fi.csc.shibboleth.mobileauth.api.authn.context.MobileContext'))
#set ($errorMessage = $mobileContext.getErrorMessage())
#set ($idpMesPrefix = "idp.login.error.")
#set ($errMessType = $idpMesPrefix+$errorMessage.replace(" ", "").replace(".","").replace(",","").replace(":",""))
#set ($errMessPhone = $errMessType.contains("Problemlookupcertfor"))

<!--[if lte IE 7]> <html lang="fi" itemtype="http://schema.org/WebPage" data-text-size="3" class="no-js text-size-3 lte_ie9 lte_ie8 lte7"> <![endif]-->
<!--[if IE 8]> <html lang="fi" itemtype="http://schema.org/WebPage" data-text-size="3" class="no-js text-size-3 lte_ie9 lte_ie8 ie8"> <![endif]-->
<!--[if IE 9]> <html lang="fi" itemtype="http://schema.org/WebPage" data-text-size="3" class="no-js text-size-3 lte_ie9 ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="fi" itemtype="http://schema.org/WebPage" data-text-size="3" class="no-js text-size-3"><!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>#springMessageText("idp.login.page-title", "Suomi.fi-tunnistaminen")</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store" />
    <link rel="stylesheet" href="#springUrl("/stylesheets/style.css")">
    <script src="#springUrl("/js/vendor/modernizr-2.8.3.min.js")"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <!--[if lt IE 9]>
            <script src="#springUrl("/js/vendor/respond.js")"></script>
            <![endif]-->
</head>
<body id="identification-service" class="txlive">
<header id="page-header" role="banner">
    <div id="site-options">
        <div class="container">
            <ul class="language-selection">
            </ul>

            <ul class="adjust-font-size" aria-hidden="true">
                <li><button title="#springMessageText("idp.login.decrease-font-size", "Pienennä tekstikokoa")" class="decrease-font-size">A-</button></li>
                <li><button title="#springMessageText("idp.login.increase-font-size", "Suurenna tekstikokoa")" class="increase-font-size">A+</button></li>
            </ul>
        </div>
    </div>
    <div id="header-content" class="container">
        <div class="header-row top-row">
            <div class="container">
                <div class="centered">

                    <div class="logo-row">
                        <h1 class="site-logo">
                            #springMessageText("idp.login.page-title", "Suomi.fi-tunnistaminen")
                        </h1>
                    </div>
                </div>

            </div>
        </div>
        <div class="header-row" id="main-menu">
            <div class="container">
                <div class="header-actions">

                </div>

            </div>
        </div>
    </div>
</header>
<main id="main" role="main" name="main">
    <div class="main">
        <div class="container">
            <div class="row">
            </div>

            <h2>#springMessageText("idp.login.page-header", "Tunnistaudu matkapuhelimella")</h2>

            <div class="row">
                <div class="col-xs-12">
                    <div class="text">
                        <ol class="numbered-list">
                            #springMessageText("idp.login.page-text1", "")
                    </div>
                </div>
            </div>
            <form action="$flowExecutionUrl" method="post">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 col-lg-4">
                            <div class="form-group">
                                <label for="telephone" class="form-label">#springMessageText("idp.login.mobilenumber", "Puhelinnumero <small>(esim. 04012345678)</small>")</label>
                                <input type="text" class="form-element form-field" id="j_mobileNumber" name="j_mobileNumber">
                                #if ($errorMessage)
                                  #if (!$errMessPhone)
                                    <div class="validation-message" aria-live="polite">#springMessageText("$errMessType", "Virheellinen puhelinnumero tai häirinnän estokoodi")</div>
                                  #else
                                    <div class="validation-message" aria-live="polite">#springMessageText("idp.login.error.InvalidPhoneNumber", "Virheellinen puhelinnumero tai häirinnän estokoodi")</div>
                                  #end
                                #end
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <div class="form-group">
                                <label for="jamming-prevention-code" class="form-label">#springMessageText("idp.login.spamcode", "Häirinnän estokoodi")</label>
                                <input type="password" class="form-element form-field" id="j_spamcode" name="j_spamcode">
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <button class="form-element form-button" type="submit" name="_eventId_proceed"
                    onClick="this.childNodes[0].nodeValue='#springMessageText("idp.login.pleasewait", "Kirjaudutaan..")'; document.getElementById('cancelLink').removeAttribute('href');"
                    >#springMessageText("idp.login.login", "Lähetä")</button>
                        </div>
                    </div>
                </form>

               <div class="col-xs-12 service-top"><br>
                    <a id="cancelLink" href="$flowExecutionUrl&_eventId=AuthenticationException" class="go-back">#springMessageText("idp.login.page-cancel", "Peruuta ja palaa tunnistusvälineen valintaan") </a><br>
                </div>
                    <div class="row">
                        <h3>#springMessageText("idp.login.page-text2", "Hyvä tietää")</h3>
                        <div class="col-xs-12 col-md-8">
                            <div class="text">
                                #springMessageText("idp.login.page-text3", "")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer id="page-footer" role=”contentinfo”>
            <div class="container">
                <div class="row">
                    <div id="footer-logo">
                        <img src="#springUrl("/img/footer-logo2.svg")" alt="#springMessageText("idp.login.page-vrk-logo", "Väestörekisterikeskus logo")">
                    </div>
                    #springMessageText("idp.login.page-text4", "")
                    <ul class="link-list">
            <li><a target="_blank" href="https://tunnistaminen.suomi.fi/info/tietoapalvelusta/">#springMessageText("idp.login.page-info", "Tietoa palvelusta")</a></li>
            <li><a target="_blank" href="https://tunnistaminen.suomi.fi/info/tietosuojaseloste/">#springMessageText("idp.login.page-privacy", "Henkilötietolain mukainen tietosuojaseloste")</a></li>
            <li><a target="_blank" href="https://tunnistaminen.suomi.fi/info/palaute/">#springMessageText("idp.login.page-feedback", "Ilmoita virheestä tai anna palautetta")</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="#springUrl("/js/vendor/jquery-1.11.2.min.js")"></script>
        <script src="#springUrl("/js/plugins.js")"></script>
        <script src="#springUrl("/js/main.js")"></script>
    </body>
</html>
