#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($mobileContext = $authenticationContext.getSubcontext('fi.csc.shibboleth.mobileauth.api.authn.context.MobileContext'))
#set ($convKey = $mobileContext.getConversationKey())
#set ($eventId = $mobileContext.getEventId())
#set ($processState = $mobileContext.getProcessState())
#set ($errorMessage = $mobileContext.getErrorMessage())
##
<!--[if lte IE 7]> <html lang="fi" itemtype="http://schema.org/WebPage" class="no-js lte_ie9 lte_ie8 lte7"> <![endif]-->
<!--[if IE 8]> <html lang="fi" itemtype="http://schema.org/WebPage" class="no-js lte_ie9 lte_ie8 ie8"> <![endif]-->
<!--[if IE 9]> <html lang="fi" itemtype="http://schema.org/WebPage" class="no-js lte_ie9 ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="fi" itemtype="http://schema.org/WebPage" class="no-js"><!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title data-i18n="mobiilivarmenne__tunnistaudu_matkapuhelimimella">Tunnistaudu matkapuhelimella</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store" />
    <link rel="stylesheet" href="/resources/stylesheets/style.css">
    <script src="/resources/js/vendor/modernizr-2.8.3.min.js"></script>
        <!--[if lt IE 9]>
            <script src="/resources/js/vendor/respond.js"></script>
            <![endif]-->
    <script type="text/javascript">
      function clickAndDisable(link) {
          link.onclick = function(event) {
              event.preventDefault();
          }
      }
    </script>
</head>
<body id="identification-service" class="txlive">
#include("header.html")
<main id="main" role="main" name="main">
    <div class="main mobile-idp-page">
        <div class="container">
            <div class="row">
                <p data-i18n="mobiilivarmenne__matkapuhelimeesi_lahetetaan">Matkapuhelimeesi on lähetetty tunnistuspyyntö, jonka tapahtumatunnus on</p>
                <p class="strong">$eventId</p>
                <p data-i18n="mobiilivarmenne__jatka_tunnistamista"></p>
                <ol class="numbered-list strong">
                    <li data-i18n="mobiilivarmenne__ohjelista_1">Kuittaa tunnistuspyyntö painamalla OK-näppäintä.</li>
                    <li data-i18n="mobiilivarmenne__ohjelista_2">Tarkista, että tapahtumatunnus on sama kuin yllä.</li>
                    <li data-i18n="mobiilivarmenne__ohjelista_3">Kuittaa tunnistautuminen painamalla OK-näppäintä.</li>
                    <li data-i18n="mobiilivarmenne__ohjelista_4">Kirjoita varmenteen tunnusluku-PIN. Paina OK-näppäintä.</li>
                    <li data-i18n="mobiilivarmenne__ohjelista_5">Odota tunnistautumista.</li>
                </ol>
                <button disabled><span class="button-loader"></span><span data-i18n="mobiilivarmenne__odotetaan">Haetaan sisältöä...</span></button>

                <div id="cancelDiv" class="row">
                  <a id="cancelLink" class="go-back" href="$flowExecutionUrl&_eventId=AuthenticationException" data-i18n="mobiilivarmenne__palaa_tunnistajan_valintaan" onclick="clickAndDisable(this);">Peruuta ja palaa tunnistusvälineen valintaan</a>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-8">
                        <div class="sign-in-info">
                            <p class="small" data-i18n="mobiilivarmenne__tietoa2_puhelinoperaattorisi">Ota yhteyttä puhelinoperaattoriisi jos haluat ottaa mobiilivarmenteen käyttöösi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
#include("footer.html")
<script src="/resources/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/resources/js/vendor/js.cookie.js"></script>
<script src="/resources/js/vendor/i18next.min.js"></script>
<script src="/resources/js/vendor/jquery-i18next.js"></script>
<script src="/resources/js/vendor/i18nextXHRBackend.min.js"></script>
<script src="/resources/js/vendor/domready.js"></script>
<script src="/resources/js/plugins.js"></script>
<script src="/resources/js/main.js"></script>
<script src="/resources/js/idp_localisation.js"></script>
<script>

    function setLanguage(lang) {
        idpLocalisation.setUserLanguage(lang);
        location.reload();
    }

    domready(function () {
        var language = idpLocalisation.getLanguage();
        idpLocalisation.localise(language, '#identification-service', '/static/localisation',
                'suomifi-tunnistaminen-resource-mobile_page_labels');
    });
</script>

#if ($processState and !$errorMessage)
#set ($link = $flowExecutionUrl + "&_eventId=retry")

<script>
 function rec_ajax(status_url) {
console.log("Calling rec");
var jsonMimeType = "application/json;charset=UTF-8";

$.ajax({
        type:"GET",
        async:"false",
        url: status_url,
        beforeSend: function(x) {
          if(x && x.overrideMimeType) {
          x.overrideMimeType(jsonMimeType);
          }
        },
        dataType:"json",
        success: function(data)
        {
            console.log(data);

            var n = data.status.link.indexOf("SSO");
            console.log("LINK: " + data.status.link);
            urli = data.status.link.substring(n);
            console.log("URL: " + urli);
            if(data.status.state !== "IN_PROCESS") location.href = urli;
            document.getElementById("cancelDiv").innerHTML = "<a id=\"cancelLink\" href=\"" + urli.replace("IN_PROCESS", "AuthenticationException") + "\" onclick=\"clickAndDisable(this);\" class=\"go-back\">#springMessageText("idp.login.page-cancel", "Palaa tunnistusvälineen valintaan")</a>";
            setTimeout(function(){
              rec_ajax(urli);
            }, 3000);

        },
        error: function (request, status, error) {
        }
    });
 }

$(document).ready(rec_ajax("$link"));
</script>
#end
</body>
</html>
