#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($username = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
#set ($passwordEnabled = false)
#if (!$passwordPrincipals or $passwordPrincipals.isEmpty() or $authenticationContext.isAcceptable($passwordPrincipals))
  #set ($passwordEnabled = true)
#end

##
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>#springMessageText("idp.title", "Web Login Service")</title>
      <link rel="stylesheet" type="text/css" href="$request.getContextPath()/css/main.css">
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    </head>
    <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <img src="$request.getContextPath()#springMessage("idp.logo")" alt="#springMessageText("idp.logo.alt-text", "logo")">
        </header>

        <div class="content">
          <div class="column one">
          <p>+35847001001</p>
          <p>convKey: $convKey</p>
          <p>EventId: $eventId</p>
          <p>ProcessState: $processState</p>
          #parse("login-error.vm")

            <form action="$flowExecutionUrl" method="post">

              <div class="form-element-wrapper">
                <label for="mobile">#springMessageText("idp.login.username", "Mobile number")</label>
                <input class="form-element form-field" id="j_mobileNumber" name="j_mobileNumber" type="text"
                  value="#if($username)$encoder.encodeForHTML($username)#end">
              </div>

              <div class="form-element-wrapper">
                <label for="password">#springMessageText("idp.login.password", "Spam prevention code")</label>
                <input class="form-element form-field" id="j_spamcode" name="j_spamcode" type="password" value="">
              </div>

              <div class="form-element-wrapper">
                <button class="form-element form-button" type="submit" name="_eventId_proceed"
                    onClick="this.childNodes[0].nodeValue='#springMessageText("idp.login.pleasewait", "Logging in, please wait...")'"
                    >#springMessageText("idp.login.login", "Login")</button>
              </div>

            </form>
          </div>
        </div>
      </div>

      <footer>
        <div class="container container-footer">
          <p class="footer-text">#springMessageText("idp.footer", "Insert your footer text here.")</p>
        </div>
      </footer>
    </div>

  </body>
</html>