#set ($rpContext = $profileRequestContext.getSubcontext('net.shibboleth.idp.profile.context.RelyingPartyContext'))
#set ($username = $authenticationContext.getSubcontext('net.shibboleth.idp.authn.context.UsernamePasswordContext', true).getUsername())
#set ($mobileContext = $authenticationContext.getSubcontext('fi.csc.shibboleth.mobileauth.api.authn.context.MobileContext'))
#set ($errorMessage = $mobileContext.getErrorMessage())
#set ($idpMesPrefix = "idp.login.error.")
#set ($errMessType = $idpMesPrefix+$errorMessage.replace(" ", "").replace(".","").replace(",","").replace(":",""))
#set ($errMessPhone = $errMessType.contains("Problemlookupcertfor"))

<!--[if lte IE 7]> <html lang="fi" itemtype="http://schema.org/WebPage" class="no-js lte_ie9 lte_ie8 lte7"> <![endif]-->
<!--[if IE 8]> <html lang="fi" itemtype="http://schema.org/WebPage" data-text-size="3" class="no-js lte_ie9 lte_ie8 ie8"> <![endif]-->
<!--[if IE 9]> <html lang="fi" itemtype="http://schema.org/WebPage" class="no-js lte_ie9 ie9"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="fi" itemtype="http://schema.org/WebPage" class="no-js"><!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title data-i18n="mobiilivarmenne__tunnistaudu_matkapuhelimimella">Tunnistaudu matkapuhelimella</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow, noarchive" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store" />
    <link rel="stylesheet" href="/resources/stylesheets/style.css">
    <script src="/resources/js/vendor/modernizr-2.8.3.min.js"></script>
        <!--[if lt IE 9]>
            <script src="/resources/js/vendor/respond.js"></script>
            <![endif]-->
</head>
<body id="identification-service" class="txlive">
#include("header.html")
<main id="main" role="main" name="main">
    <div class="main mobile-idp-page">
        <div class="container">
            <h2 data-i18n="mobiilivarmenne__tunnistaudu_matkapuhelimimella">Tunnistaudu matkapuhelimella</h2>
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <form action="$flowExecutionUrl" method="post">
                        <div class="box mobile-identification-info">
                            <ol class="numbered-list">
                                <li data-i18n="mobiilivarmenne__ohje_1_mobiilivarmenne">Kirjoita puhelinnumerosi</li>
                                <div class="form-group">
                                  <label class="form-label strong small required" for="j_mobileNumber" data-i18n="mobiilivarmenne__puhelinnumero">Puhelinnumero</label>
                                  <input class="width-240 placeholder" type="text" id="j_mobileNumber" name="j_mobileNumber" data-i18n="[placeholder]mobiilivarmenne__puhelinnumero_esimerkki"/>
                                </div>
                                <li data-i18n="mobiilivarmenne__ohje_2_mobiilivarmenne">Jos puhelinliittymässäsi on häirinnän esto, kirjoita häirinnän estokoodi. Muussa tapauksessa jätä kenttä tyhjäksi.</li>
                                <div class="form-group">
                                    <label for="j_spamcode" class="form-label strong small" data-i18n="mobiilivarmenne__hairinnan_estokoodi">Häirinnän estokoodi</label>
                                    <input type="password" class="width-320" id="j_spamcode" name="j_spamcode">
                                </div>
                                <li data-i18n="mobiilivarmenne__ohje_3_mobiilivarmenne">Napsauta Lähetä -painiketta.</li>
                            </ol>
                            <button class="form-element form-button" type="submit" name="_eventId_proceed" data-i18n="mobiilivarmenne__laheta"
                    onClick="this.childNodes[0].nodeValue='#springMessageText("idp.login.pleasewait", "Kirjaudutaan..")'; document.getElementById('cancelLink').removeAttribute('href');"
                    >Lähetä</button>
                            <p class="mobile-help" data-i18n="mobiilivarmenne__matkapuhelimeesi_lahetetaan">Matkapuhelimeesi lähetetään tunnistuspyyntö. Varsinainen tunnistus tapahtuu matkapuhelimellasi.</p>
                            #if ($errorMessage)
                              #if (!$errMessPhone)
                                <span class="validation-error" aria-live="polite">#springMessageText("$errMessType", "Virheellinen puhelinnumero tai häirinnän estokoodi")</span>
                              #else
                                <span class="validation-error" aria-live="polite">#springMessageText("idp.login.error.InvalidPhoneNumber", "Virheellinen puhelinnumero tai häirinnän estokoodi")</span>
                              #end
                            #end
                        </div>
                    </form>

                </div>
            </div>
            <div class="row">
              <a id="cancelLink" class="go-back" href="$flowExecutionUrl&_eventId=AuthenticationException" data-i18n="mobiilivarmenne__palaa_tunnistajan_valintaan">Peruuta ja palaa tunnistusvälineen valintaan</a>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="sign-in-info">
                        <p class="small" data-i18n="mobiilivarmenne__tietoa2_puhelinoperaattorisi">Ota yhteyttä puhelinoperaattoriisi jos haluat ottaa mobiilivarmenteen käyttöösi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
#include("footer.html")
<script src="/resources/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/resources/js/vendor/js.cookie.js"></script>
<script src="/resources/js/vendor/i18next.min.js"></script>
<script src="/resources/js/vendor/jquery-i18next.js"></script>
<script src="/resources/js/vendor/i18nextXHRBackend.min.js"></script>
<script src="/resources/js/vendor/domready.js"></script>
<script src="/resources/js/plugins.js"></script>
<script src="/resources/js/main.js"></script>
<script src="/resources/js/idp_localisation.js"></script>
<script>

    function setLanguage(lang) {
        idpLocalisation.setUserLanguage(lang);
        location.reload();
    }

    domready(function () {
        var language = idpLocalisation.getLanguage();
        idpLocalisation.localise(language, '#identification-service', '/static/localisation',
                'suomifi-tunnistaminen-resource-mobile_page_labels');

        setupPlaceholders();
    });
</script>
</body>
</html>
